<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Facilities</title>
    {% include 'inc/link.html' %}
    <link rel="icon" href="icon">
    <link rel="stylesheet" href="https://upkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
    
       .pop:hover{
             border-top-color:var(--button) !important ;
             transform: scale(1.03);
             transition: all 0.3s;
       }
        .availability-form{
            margin-top: -50px;
            z-index:2;
            position: relative;
        }

        input[type=number]{
            -moz-appearance: textfield;
        }
        @media screen and(max-width:575px){
            .availability-form{
            margin-top: 25px;
        padding:0 35px ;
        }
        }
    </style>
</head>
<body class="bg-light">

    < {% include 'inc/header.html' %}

    <div class="my-5 px-4">
       <h2 class="fw-bold h-font text-center">OUR FACILITIES</h2>
       
       <div class="h-line bg-dark"></div>
       <p class="text-center mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ad, cum tempore aut eum beatae. Ipsum ullam non veniam vitae?</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                   <img src="static/images/features/wifi.svg" width="80px">
                    <h5 class="m-0 ms-3">wifi</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                   <img src="static/images/features/tv.svg" width="80px">
                    <h5 class="m-0 ms-3">Television</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                    <img src="static/images/features/pc.svg" width="80px">
                    <h5 class="m-0 ms-3">Private pc</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                    <img src="static/images/features/phone.svg" width="80px">
                    <h5 class="m-0 ms-3">Landline</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                    <img src="static/images/features/fan.svg" width="80px">
                    <h5 class="m-0 ms-3">Ventilation</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 mb-5 px-4">
                <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                   <div class="d-flex lign-items-center mb-2">
                    <img src="static/images/features/clock.svg" width="80px">
                    <h5 class="m-0 ms-3">24/7</h5>
                   </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, repellat!</p>
                </div>

            </div>
        </div>
    </div>

    
    {% include 'inc/footer.html' %}


 



</body>
</html>


